/*
 * GEMMA/DISPLAY
 *
 * For setting display properties
 *
 */

.db { display: block; }
.dib { display: inline-block; }
.di { display: inline; }
.dt { display: table; }
.dtr { display: table-row; }
.dtc { display: table-cell; }
.dtcol { display: table-column; }
.df { display: flex; }

@media (--screen-md) {
  ._md-db { display: block; }
  ._md-dib { display: inline-block; }
  ._md-di { display: inline; }
  ._md-dt { display: table; }
  ._md-dtr { display: table-row; }
  ._md-dtc { display: table-cell; }
  ._md-dtcol { display: table-column; }
  ._md-df { display: flex; }
}

@media (--screen-lg) {
  ._lg-db { display: block; }
  ._lg-dib { display: inline-block; }
  ._lg-di { display: inline; }
  ._lg-dt { display: table; }
  ._lg-dtr { display: table-row; }
  ._lg-dtc { display: table-cell; }
  ._lg-dtcol { display: table-column; }
  ._md-df { display: flex; }
}

@media (--screen-xl) {
  ._xl-db { display: block; }
  ._xl-dib { display: inline-block; }
  ._xl-di { display: inline; }
  ._xl-dt { display: table; }
  ._xl-dtr { display: table-row; }
  ._xl-dtc { display: table-cell; }
  ._xl-dtcol { display: table-column; }
  ._xl-df { display: flex; }
}
