/*
 * GEMMA/COLOR
 *
 * Gemma comes with its own COLOR palette.
 * 
 * Each COLOR has a total of five variants, from light
 * to dark. The swatches use a numeric system similar
 * to many typefaces. The numbers and their corresponding
 * values are:
 *
 * 100 - very light
 * 300 - light
 * 500 - medium
 * 700 - dark
 * 900 - very dark
 *
 * You’ll also find custom properties for true white
 * and true black at the bottom of this file, along with
 * the 'nearBlack' COLOR which is used as the default
 * text COLOR.
 *
 */

:root {
  
  --COLOR_RED_100: #ffbabf;
  --COLOR_RED_300: #f2777f;
  --COLOR_RED_500: #eb4651;
  --COLOR_RED_700: #b82832;
  --COLOR_RED_900: #7a1b21;

  --COLOR_YELLOW_100: #ffd183;
  --COLOR_YELLOW_300: #ffb76e;
  --COLOR_YELLOW_500: #ff9c38;
  --COLOR_YELLOW_700: #cc6f12;
  --COLOR_YELLOW_900: #8f4700;

  --COLOR_GREEN_100: #baefba;
  --COLOR_GREEN_300: #9aed9a;
  --COLOR_GREEN_500: #6cd96c;
  --COLOR_GREEN_700: #479e47;
  --COLOR_GREEN_900: #2c612c;

  --COLOR_AQUA_100: #b9f1de;
  --COLOR_AQUA_300: #7ae4c0;
  --COLOR_AQUA_500: #2bd99f;
  --COLOR_AQUA_700: #0f996b;
  --COLOR_AQUA_900: #227358;

  --COLOR_CYAN_100: #b1ecf2;
  --COLOR_CYAN_300: #6edae6;
  --COLOR_CYAN_500: #2bc7d9;
  --COLOR_CYAN_700: #1095a3;
  --COLOR_CYAN_900: #0bc16b;

  --COLOR_BLUE_100: #acd6f2;
  --COLOR_BLUE_300: #65a9dc;
  --COLOR_BLUE_500: #2887c7;
  --COLOR_BLUE_700: #116ca8;
  --COLOR_BLUE_900: #024a7a;

  --COLOR_PURPLE_100: #cac1f5;
  --COLOR_PURPLE_300: #a69ae3;
  --COLOR_PURPLE_500: #8675d9;
  --COLOR_PURPLE_700: #6153a6;
  --COLOR_PURPLE_900: #4f4f47;

  --COLOR_VIOLET_100: #e4c7f1;
  --COLOR_VIOLET_300: #b689ca;
  --COLOR_VIOLET_500: #a065ba;
  --COLOR_VIOLET_700: #744987;
  --COLOR_VIOLET_900: #5f406b;

  --COLOR_MAGENTA_100: #ffbad1;
  --COLOR_MAGENTA_300: #f57fa6;
  --COLOR_MAGENTA_500: #e65082;
  --COLOR_MAGENTA_700: #a3395c;
  --COLOR_MAGENTA_900: #80364e;

  --COLOR_GRAY_100: #e6e9eb;
  --COLOR_GRAY_300: #cdcfd1;
  --COLOR_GRAY_500: #a7a9ab;
  --COLOR_GRAY_700: #707273;
  --COLOR_GRAY_900: #414242;

  --COLOR_WARMGRAY_100: #e8e5e1;
  --COLOR_WARMGRAY_300: #d9d4ce;
  --COLOR_WARMGRAY_500: #c7c1bb;
  --COLOR_WARMGRAY_700: #96908a;
  --COLOR_WARMGRAY_900: #6b6660;

  --COLOR_COOLGRAY_100: #e4e9eb;
  --COLOR_COOLGRAY_300: #d0d7db;
  --COLOR_COOLGRAY_500: #bbc2c7;
  --COLOR_COOLGRAY_700: #929ba1;
  --COLOR_COOLGRAY_900: #656d73;

  --COLOR_WHITE: #ffffff;
  --COLOR_BLACK: #000000;
  --COLOR_NEARBLACK: #141515;

}

